<!doctype html>
<html lang="pt-BR">
  <!-- 

Hello everyone!
Well well, internet is still nice, i suppose...

⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣶⣿⣿⣷⣦⣤⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣀⣤⠞⠿⣿⣿⣿⣿⣿⣿⣿⡿⣤⡀⠀⠀⠀⠀⠀
⠀⠀⣠⠶⠋⠉⠀⠀⠀⠀⠀⠉⠉⠉⠀⠀⠀⠀⠙⠳⣤⡀⠀⠀
⢀⡞⠁⠀⢀⡶⠃⠀⠦⠀⠀⢀⣀⠀⠀⢠⡄⠀⣄⠀⠀⠙⢷⡄
⠘⣇⠀⠀⣼⠁⠀⠀⠀⠀⢖⡬⢧⣰⠀⠀⠀⠀⢻⡀⠀⠀⠀⣿
⠀⠈⠛⢛⡿⠀⠀⠀⠀⠀⠀⠀⣠⣤⣄⡀⠀⠀⠀⢻⡦⠤⠾⠃
⠀⠀⣴⣿⠃⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠙⠲⠀⠀⠈⣧⠀⡀⠀
⠀⣸⣃⡏⠀⠀⠀⠀⠀⠀⠀⠀⠙⠶⣤⡀⠀⠀⠀⠀⢹⡾⠙⣆
⢰⠏⢹⡇⠀⡴⠖⢶⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣷⣠⠇
⠸⣇⠈⠃⢸⡇⠀⠈⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡟⠁⠀
⠀⠙⠲⠶⠾⢧⣀⠀⢀⣀⡀⠀⠀⣀⣀⣀⣀⣠⡤⠶⠋⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀
-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>𝔂𝓪𝔀𝓵𝓵𝓮.𝓮𝔁𝓮</title>
    <link rel="icon" type="image/png" href="/images/ic_favicon.png" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
    <script>
      window.addEventListener("load", function () {
        new cursoreffects.bubbleCursor();
      });
    </script>
    <link href="https://fonts.cdnfonts.com/css/aldrich" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <img src="/graphics/gr_pompom.gif" class="float-gif" />
    <div class="main-container">
      <div class="left">
        <div class="header">
          <a href="/">
            <img src="/images/img_banner.png" class="banner" />
          </a>
        </div>
        <div class="div-blinkies">
          <div class="marquee-track">
            <img src="/graphics/gr_2001.gif" />
            <img src="/graphics/gr_winamp.gif" />
            <img src="/graphics/gr_dandelion.gif" />
            <img src="/graphics/gr_love_cats.gif" />
            <img src="/graphics/gr_repair.gif" />
            <img src="/graphics/gr_woman.gif" />
            <img src="/graphics/gr_pusheen.webp" />
            <img src="/graphics/gr_delete_twitter.gif" />
            <img src="/graphics/gr_jojo.gif" />
            <img src="/graphics/gr_old_net.gif" />
            <img src="/graphics/gr_2001.gif" />
            <img src="/graphics/gr_winamp.gif" />
            <img src="/graphics/gr_dandelion.gif" />
            <img src="/graphics/gr_love_cats.gif" />
            <img src="/graphics/gr_repair.gif" />
            <img src="/graphics/gr_woman.gif" />
            <img src="/graphics/gr_pusheen.webp" />
            <img src="/graphics/gr_delete_twitter.gif" />
            <img src="/graphics/gr_jojo.gif" />
            <img src="/graphics/gr_old_net.gif" />
          </div>
        </div>
        <div class="main">
          <button class="panel-close" type="button" aria-label="Fechar">
            <img src="/images/ic_fechar.png" alt="" />
          </button>
          <div class="panel-inner">
            <div class="banner-text">{{ content }}</div>
          </div>
        </div>
        <p class="construction-date">construction began: May 20th, 2026</p>
      </div>
      <div class="right">
        <div class="sidebar">
          <button class="panel-close" type="button" aria-label="Fechar">
            <img src="/images/ic_fechar.png" alt="" />
          </button>
          <div class="panel-inner">
            <div class="sidebar-title">MENU</div>
            <div class="sidebar-text">
              <a href="/" class="sidebar-link">
                <div class="sidebar-row">
                  <img src="/images/ic_home.png" />
                  <span>Home</span>
                </div>
              </a>
              <a href="/about/" class="sidebar-link">
                <div class="sidebar-row">
                  <img src="/images/ic_about.png" />
                  <span>About</span>
                </div>
              </a>
              <a href="/blog/" class="sidebar-link">
                <div class="sidebar-row">
                  <img src="/images/ic_blog.png" />
                  <span>Blog</span>
                </div>
              </a>
              <a href="https://yawlle.atabook.org/" class="sidebar-link">
                <div class="sidebar-row">
                  <img src="/images/ic_chat.png" />
                  <span>Guestbook</span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <button class="panel-close" type="button" aria-label="Fechar">
            <img src="/images/ic_fechar.png" alt="" />
          </button>
          <div class="panel-inner">
            <div class="sidebar-title">BUTTONS</div>
            <div class="sidebar-buttons">
              <img src="/graphics/gr_button.gif" class="button-img" />
              <div class="link-button">
                &lt;a href="https://yawlle.neocities.org"
                target="_blank"&gt;&lt;img
                src="https://yawlle.neocities.org/graphics/gr_button.gif"&gt;&lt;/a&gt;
              </div>
              <p>
                let me know if you want to exchange buttons! i'm new on this
              </p>
              <img src="/graphics/gr_computer_send_files.gif" />
            </div>
          </div>
        </div>
        <div class="gif-clancy">
          <img src="/graphics/gr_clancy.gif" />
        </div>
      </div>
    </div>
  </body>
</html>
